.timer-wrap {
  padding: 5px;
  margin: 20px;
  min-width: 20rem;
  max-width: 25rem;
  background-color: beige;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}